
.animation_r {
    opacity: 0;
    transform: translateX(+300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;

}


.scroll-animation_r {
    opacity: 1;
    transform: translateX(0);
}