.intro_h {
    width: 70%;
    margin-left: 10%;
    margin-bottom: 70px;
    float: left;
    background: rgba(255, 255, 255, 0.314);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.intro_h:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
    margin-bottom: 2%;
    float: left;
}

.intro__text_h {
    opacity: 0;
    visibility: hidden;
    height: 0;
    /* transition: opacity 0.3s, visibility 0.3s, height 0.3s; */
    margin: 0%;
    color: #fff;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.intro_h:hover .intro__text_h {
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-top: 12px;
}

@media screen and (max-width: 1024px) {
    .intro_h {
        width: 70%;
        margin-left: 10%;
        margin-bottom: 30px;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .intro_h {
        width: 70%;
        margin: auto auto 30px;
        float: none;
    }

    .intro_h:hover {
        margin: auto auto 30px;
        float: none;
    }
}

.intro__grid-container_h {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3%;
    flex-wrap: nowrap;
    
}

@media screen and (max-width: 768px) {
    .intro__grid-container_h {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.intro_h img {
    max-height: 201px;
    min-height: 200px;
    border-radius: 8px;
    height: auto; /* Обеспечивает одинаковую высоту изображений */
    object-fit: cover; /* Обрезает изображение, чтобы оно заполнило блок */
}

@media screen and (max-width: 1024px) {
    .intro_h img {
        max-height: 180px;
        min-height: 180px;
    }
}

@media screen and (max-width: 768px) {
    .intro_h img {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 568px) {
    .intro_h img {
        max-height: 140px;
        min-height: 140px;
        margin-bottom: 12px;
    }
}

.intro__title_h {
    margin: 0;
    color: #fff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 54px;
    line-height: 1.1;
}

@media screen and (max-width: 1024px) {
    .intro__title_h {
        font-size: 42px;
    }
}


@media screen and (max-width: 768px) {
    .intro__title_h {
        font-size: 36px;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .intro__title_h {
        font-size: 32px;
        text-align: center;
    }
}

